name: PR Validator

on:
  pull_request:
    branches:
      - develop

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:    
    - name: Run validation
      run: |
        echo "PR Source Branch: ${{ github.head_ref }}"
        echo "PR Target Branch: ${{ github.base_ref }}"
        echo "From: ${{ github.head_ref }} -> To: ${{ github.base_ref }}"
